# NROM-256:32KB PRG + 8KB CHR,ld65 链接脚本
MEMORY {
    ZP:     start = $0010, size = $00F0, type = rw;
    RAM:    start = $0300, size = $0500, type = rw;
    HDR:    start = $0000, size = $0010, file = %O, fill = yes;
    PRG:    start = $8000, size = $8000, file = %O, fill = yes, fillval = $FF;
    CHRROM: start = $0000, size = $2000, file = %O, fill = yes;
}
SEGMENTS {
    HEADER:   load = HDR,    type = ro;
    CODE:     load = PRG,    type = ro;
    RODATA:   load = PRG,    type = ro;
    VECTORS:  load = PRG,    type = ro, start = $FFFA;
    CHR:      load = CHRROM, type = ro;
    ZEROPAGE: load = ZP,     type = zp;
    BSS:      load = RAM,    type = bss;
}
